@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'LatoWeb', sans-serif;
  color: #666d89;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #2d303a; 
  border-bottom: 6px solid #323746; 
}

.logo {
  position: relative;
  top: 24px;
  left: 11px;
  font-size: 24px;
  font-family: 'LatoWeb', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.logo span {
  color: #f06c64;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  padding: 40px 0 30px;
}

.navigation li a {
  font-size: 12px;
  font-family: 'LatoWeb', sans-serif; 
  letter-spacing: 0.07px; 
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 12px;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.navigation li:not(:first-child):before {
  content: '·';
  font-weight: 900;
  color: #323746; 
}

.navigation li a:hover {
  color: #f06c64; 
}

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b; 
  height: 595px;
}

.slider .container {
  position: relative;
}

.slider__arrows {
  z-index: 999;
}

.left-arrow {
  position: absolute;
  top: 280px;
  left: 20px;
}

.right-arrow {
  position: absolute;
  top: 280px;
  right: 20px;
}

.slider__arrows img {
  opacity: 0.7;
}

.slider__arrows img:hover {
  cursor: pointer;
  opacity: 1;
}

.slider__content {
  position: relative;
  z-index: 998;
}

.iphone-vertical {
  position: absolute;
  top: 53px; 
  left: 82px;
}

.iphone-horizontal {
  position: absolute;
  top: 174px;
  right: 81px;
}

.services {
  background-color: #f2f2f2;
  padding-top: 50px;
  border-bottom: 6px solid #ffffff; 
}

.services__title {
  font-size: 30px;
  font-family: 'LatoWebBlack', sans-serif;
  text-transform: capitalize; 
  padding: 10px; 
  height: 30px;
  overflow: hidden; 
}

.services__description {
  padding: 14px 10px 12px 10px;
  font-size: 18px;
  font-family: 'LatoWebLight', sans-serif;
  line-height: 30px;
text-align: justify;
  letter-spacing: -0.2px;
  height: 50px;
  overflow: hidden; 
}

.layout-3-column {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.services .layout-3-column {
  margin: 41px 0;
}

.service {
  display: flex;
  justify-content: space-between;  
  width: 33.333%;
  margin-bottom: 32px;
}

.service__icon {
  margin-bottom: 10px;
  padding: 0 9px;  
}

.service__content {
  padding: 0 10px;
}

.service__title {
  font-size: 18px;
  font-family: 'LatoWebBlack', sans-serif; 
  text-transform: capitalize; 
  margin-bottom: 5px;
  height: 22px;
  overflow: hidden; 
}

.services__text {
  font-size: 12px;
  font-family: 'LatoWeb', sans-serif;
  line-height: 22px;
  height: 65px;
  overflow: hidden; 
  text-align: justify;
}
