@import url(fonts.css);

/* General styles */

* {
  margin: 0;
  padding: 0;
}

form,
input,
textarea,
button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "LatoWeb", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  color: #666d89;
}

h2 {
  font-family: "LatoWebBlack", sans-serif;
  font-size: 3rem;
  line-height: 5.8rem;
}

h4 {
  font-family: "LatoWebBlack", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* header */

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__logo {
  position: relative;
  top: 24px;
  left: 11px;
  font-size: 24px;
  font-family: "LatoWeb", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.header__logo span {
  color: #f06c64;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  padding: 40px 0 30px;
}

.navigation li a {
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  letter-spacing: 0.07px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 12px;
  color: #ffffff;
  transition: color 0.2s ease-in-out;
}

.navigation li:not(:first-child):before {
  content: "·";
  font-weight: 900;
  color: #494e62;
}

.navigation li a.active {
  color: #f06c64;
}

.navigation li a:not(.active):hover {
  color: #f06c64;
}

.anchor {
  position: absolute;
  left: 0;
  top: -95px;
}

/* slider */

.slider {
  padding-top: 95px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: all 0.3s ease-out;
}

.slider.background-blue {
  background-color: #648bf0;
  border-color: rgb(97, 135, 231);
}

.items-container {
  width: 100%;
  height: 595px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item {
  width: 800px;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: 0.5s ease-in-out;
}

.slide-active,
.slide-next {
  display: flex;
  width: 800px;
}

.slide-next {
  position: absolute;
  width: 100%;
}

.slider__arrows {
  z-index: 998;
  position: absolute;
  top: calc((589px - 27px) / 2);
  padding: 0 10px;
  cursor: pointer;
}

.left_arrow {
  left: 0;
}

.right_arrow {
  right: 0;
}

.slider__arrows img {
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}

.slider__arrows img:hover {
  cursor: pointer;
  opacity: 0.4;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

/* phones */
.phones-group {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.phone-vertical,
.phone-horizontal {
  height: 483px;
  width: 240px;
  position: relative;
}

.phone-vertical {
  margin-top: -3px;
  margin-left: 2px;
}

.indicator {
  display: block;
  position: absolute;
  top: 19px;
  left: 106px;
  z-index: 105;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #eb5055;
}

.wrap-display {
  display: block;
  width: 188px;
  height: 333px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 14px;
  z-index: 104;
  transition: all 0.3s ease-in-out;
}

.phone-vertical-display {
  position: absolute;
  top: -135px;
  left: -14px;
  z-index: 102;
}

.phone-body {
  position: absolute;
  z-index: 103;
}

.phone-vertical-shadow {
  position: absolute;
  z-index: 100;
}

.phone-horizontal {
  top: -4px;
  left: -148px;
  transform: rotate(90deg);
}

.phone-horizontal-display {
  position: absolute;
  top: -122px;
  left: -119px;
  z-index: 102;
  transform: rotate(270deg);
}

.phone-horizontal-shadow {
  position: absolute;
  transform: scale(-1, 1);
  top: -27px;
  z-index: 100;
}

.display-off {
  opacity: 0;
}

.wrap-display:hover,
.phone-body:hover,
.phone-wrap:hover {
  cursor: pointer;
}

/* Section Our Services */

.services {
  scroll-margin-top: 95px;
  background-color: #f2f2f2;
  padding-top: 50px;
  border-bottom: 6px solid #ffffff;
  position: relative;
}

.services__title {
  text-transform: capitalize;
  padding-left: 10px;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.services__description {
  padding: 0 10px;
  font-family: "LatoWebLight", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.2px;
  height: 50px;
  overflow: hidden;
}

.services .layout-3-column {
  margin: 54px 0 29px;
}

.service {
  display: flex;
  justify-content: space-between;
  width: 33.333%;
  margin-bottom: 32px;
}

.service__icon {
  margin-bottom: 10px;
  padding: 0 9px;
}

.service__content {
  padding: 0 10px;
}

.service__title {
  text-transform: capitalize;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.services__text {
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  line-height: 22px;
  height: 65px;
  overflow: hidden;
  text-align: justify;
}

/* Section Portfolio */

.portfolio {
  scroll-margin-top: 95px;
  background-color: #2d303a;
  padding: 51px 0 56px;
  border-bottom: 6px solid #323746;
  position: relative;
}

.portfolio__title {
  padding-left: 10px;
  letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
}

.portfolio__description {
  padding: 6px 0 10px 10px;
  font-size: 18px;
  font-family: "LatoWebLight", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.22px;
  overflow: hidden;
}

.portfolio__tags {
  padding: 0 0 10px 10px;
}

.tag {
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  line-height: 21px;
  padding: 4px 6px;
  margin-right: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.tag:hover {
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

.tag_selected {
  color: #ffffff;
  border-color: #ffffff;
}

.portfolio__gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 621px;
  overflow: hidden;
}

.gallery__img {
  width: 220px;
  height: 187px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  transition: border 0.3s ease-in-out;
}

.gallery__img.img_bordered {
  border-color: #f06c64;
}

.gallery__img.img_hidden {
  display: none;
}

.gallery__img img {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery__img:hover {
  cursor: pointer;
  border: 5px solid #f06c64;
}

.gallery__img:hover img {
  opacity: 0.7;
}

/* Section About Us */

.about-us {
  scroll-margin-top: 95px;
  background-color: #f2f2f2;
  padding: 51px 0 39px;
  border-bottom: 6px solid #ffffff;
  position: relative;
}

.about-us__title {
  padding-left: 10px;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
}

.about-us__description {
  padding: 0 10px;
  font-size: 18px;
  font-family: "LatoWebLight", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.22px;
  overflow: hidden;
}

.about-us__workers {
  display: flex;
  justify-content: space-between;
  margin: 43px 10px 28px;
}

.about-us__worker {
  width: 300px;
  overflow: hidden;
}

.worker__photo {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.worker__name {
  padding: 18px 0 10px;
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
}

.worker__description {
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  text-align: justify;
  line-height: 21.5px;
  overflow: hidden;
}

.worker__social {
  margin-top: 22px;
  display: flex;
}

.worker__social .social__icon {
  margin: 0 8px 0 0;
}

/* Section Get a Quote */

.quote {
  padding: 52px 0 13px;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  position: relative;
}

.quote__header {
  margin-bottom: 42px;
}

.quote__title {
  padding-left: 10px;
  padding-bottom: 6px;
  letter-spacing: -0.15px;
  white-space: nowrap;
  overflow: hidden;
}

.quote__description {
  padding: 0 10px;
  font-size: 18px;
  font-family: "LatoWebLight", sans-serif;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.quote__content {
  display: flex;
  justify-content: space-between;
}

.form-wrap {
  width: 630px;
}

.quote-form {
  display: flex;
  flex-direction: column;
}

.quote-form__username,
.quote-form__email,
.quote-form__subject,
.quote-form__comment {
  background-color: #d6564f;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  font-family: "LatoWebLight", sans-serif;
  line-height: 38px;
  letter-spacing: 0.2px;
  margin: 0 0 16px 10px;
  padding-left: 15px;
}

.quote-form input::placeholder,
.quote-form textarea::placeholder {
  color: #f48c8f;
}

.quote-form__username:valid,
.quote-form__email:valid {
  background: rgb(69, 209, 110);
}

.quote-form__comment {
  height: 202px;
  resize: none;
}

.quote-form__submit {
  width: 100px;
  background-color: #fbc65f;
  border-radius: 4px;
  color: #2d303a;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "LatoWebLight", sans-serif;
  line-height: 38px;
  letter-spacing: 0.2px;
  margin-left: 10px;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.quote-form__submit:hover {
  cursor: pointer;
  background-color: #2d303a;
  color: #f0d8d9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 10001;
}

.overlay.hidden {
  display: none;
}

.no-scroll {
   height: 100%;
   overflow: hidden;
}

#message {
  color: black;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  min-height: 200px;
  max-height: 72%;
  overflow: auto;
  overflow-wrap: break-word;
}

#message > * {
  padding-bottom: 15px;
}

#send-status {
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
}

#message-text {
  text-align: justify;
  line-height: 1.5;
}

#close-btn {
  position: relative;
  bottom: 10px;
  left: calc(50% - 30px);
  padding: 5px 20px;
  margin-top: 20px;
  background-color: #fbc65f;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.info {
  width: 310px;
}

.info__title {
  padding: 2px 0 10px;
  font-size: 18px;
  font-family: "LatoWebBlack", sans-serif;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
}

.info__description {
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  line-height: 21.56px;
  text-align: justify;
  padding-right: 10px;
  padding-bottom: 23px;
}

.info__contacts {
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  line-height: 21.56px;
  letter-spacing: -0.2px;
}

.contacts__map:before {
  content: url(assets/icons/map.png);
  padding: 0 14px 0 3px;
}

.info__contacts a {
  text-decoration: none;
  color: #f0d8d9;
}

.contacts__tel:before {
  content: url(assets/icons/tel.png);
  padding-right: 12px;
}

.contacts__mail:before {
  content: url(assets/icons/mail.png);
  padding-right: 10px;
}

/* footer */

.footer {
  background-color: #2d303a;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.footer__copyright {
  color: #666d89;
  font-size: 12px;
  font-family: "LatoWeb", sans-serif;
  line-height: 21px;
  padding: 5px 0 0 12px;
  letter-spacing: -0.2px;
}

.footer__social {
  display: flex;
  margin-right: 10px;
}

.footer__social .social__icon {
  margin-left: 8px;
}

/* Общие стили для иконок */

.social__icon {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #666d89;
  box-sizing: border-box;
}

.social__icon img {
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  line-height: 100%;
}

.social__icon:hover {
  filter: hue-rotate(100deg);
  -webkit-filter: hue-rotate(100deg);
}

/* Кнопка вверх */

.back_to_top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background: #fbc65f;
  color: #2d303a;
  cursor: pointer;
  border-radius: 50%;
  display: none;
  transition: all 0.3s ease-in-out;
}

.back_to_top:hover {
  background: #666d89;
  color: #fff;
}